{% extends 'base.html' %}
{% block page_specific_script_tag %}
    <script src="/static/js/buttonPopover.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="row">
                    <h1 class= "article-body">{{ article.title }}<h1>
                    <h4 class= "article-body">Por: 
                        {% for author in article.authors %}
                            {{author}},
                        {% endfor %}
                    </h4>
                    <a href="{{article.url}}">click here for article</a>
                </div>
                <div class="row">
                    <p class="article-body">{{article.text}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-3 form-group">
                <label for="notes">Notes:</label>
                <a href="/comments">CLICK TO TEST COMMENT</a>
                <br>
                <div class="pull-lg-right" cols= "40" rows="20" id="comment-sidebar"> TESTING</div>
                <br>
<!--                 <a href="#"><button type="button" class="btn btn-success center-block">Save Notes</button></a>
                <br>
                <div class="panel panel-success">
                    <div class="panel-heading">Vocab List</div>
                    <div class="panel-body"></div>
                </div> -->
        </div>  

    </div>
</div>

{% endblock %}