{% extends 'base.html' %}
{% block content %}

    <h1>Hang in there, {{ user.first_name }}! You're almost done!</h1>

    <form action="/preferences/{{user.user_id}}" method="POST">

        <h2>Select your article topic preferences:</h2>
        <div>
        Preference #1: 
        <select name="preference_1">
            <option value="" disabled selected> Select your preference</option>
            <option value="international"> International </option>
            <option value="opinion"> Opinion </option>
            <option value="americas"> Americas </option>
            <option value="US"> United States </option>
            <option value="spain"> Spain </option>
            <option value="science"> Science </option>
            <option value="tech"> Technology </option>
            <option value="culture"> Culture </option>
            <option value="style"> Style </option>
            <option value="sports"> Sports </option>
            <option value="sports"> TV </option>
        </select>
        </div>

        <br>

        <div>
        Preference #2: 
        <select name="preference_2">
            <option value="" disabled selected> Select your preference</option>
            <option value="international"> International </option>
            <option value="opinion"> Opinion </option>
            <option value="americas"> Americas </option>
            <option value="US"> United States </option>
            <option value="spain"> Spain </option>
            <option value="science"> Science </option>
            <option value="tech"> Technology </option>
            <option value="culture"> Culture </option>
            <option value="style"> Style </option>
            <option value="sports"> Sports </option>
            <option value="sports"> TV </option>
        </select>
        </div>

        <br>

        <div>
        Preference #3: 
        <select name="preference_3">
            <option value="" disabled selected> Select your preference</option>
            <option value="international"> International </option>
            <option value="opinion"> Opinion </option>
            <option value="americas"> Americas </option>
            <option value="US"> United States </option>
            <option value="spain"> Spain </option>
            <option value="science"> Science </option>
            <option value="tech"> Technology </option>
            <option value="culture"> Culture </option>
            <option value="style"> Style </option>
            <option value="sports"> Sports </option>
            <option value="sports"> TV </option>
        </select>
        </div>

        <br>

        <div>
            <input type="submit" value="Save Preferences">
        </div>

    </form>
{% endblock %}