{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <h2>Welcome {{ user.first_name }} </h2>
        <h4>Pick an article!<h4> 
        </div>
    {% for preference in preferences_dict %}
        <div class="row">
            <h3> {{ preference.category.english_category }}</h3>
            {% for article in preferences_dict[preference] %}
                <div class="col-lg-3, col-md-3, col-sm-12, col-xs-12">
                    <a href="/article/{{article.article_id}}">{{ article.title }}</a>
                </div>
                <div class="col-lg-3, col-md-3, col-sm-12, col-xs-12">
                    <img src="{{article.top_image}}" width="80px">
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}